* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

header {
  font-size: 64px;
  letter-spacing: 32px;
  font-family: sans-serif;
  border-bottom: 1px solid white;
  margin-bottom: 64px;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid {
  width: 514px;
  height: 514px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 48px;
  border: 1px solid black;
  background: #ccc;
}

.cell {
  flex: 0 0 64px;
  height: 64px;
  border: 1px solid black;
}

.mole {
  background-size: cover;
  background-image: url(evilmole.jpg)
}

.civilian {
  background-size: cover;
  background-image: url(/puppy.jfif);
}

.scoreboard {
  font-family: sans-serif;
}

